.titre
{
	text-align:center;
	font-weight:bold;

}
body
{
	background-color:white;
	background-image:url('fond1.jpg');
}
.txt
{
	text-align:justify;

}
img
{
	width:500px;
	height:500px;
	box-shadow: 8px 8px 12px #555;
}
